@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold text-purple-600 text-center;
  }
  h2 {
    @apply text-3xl font-bold text-purple-600 text-center;
  
  }
  h3 {
    @apply text-2xl font-bold text-purple-600 text-center;
  }
  a {
    @apply font-semibold text-blue-500 hover:underline;
  }
}
/* add custom fonts */
/* @font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 500;
  src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
} */